@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

// Root Variables

$primary:#034f84;
$secondary: #d6cbd3;
$font-family: 'Ubuntu', sans-serif;

// Body

body {
    font-family: $font-family;
}


// Nvigation Bar

nav {
    a.item:hover {
        background-color:$primary;
    }

  
a.item {
    text-decoration: none;
    font-size: 1.2rem;
  }

}

// Sidebar

.sidenav {
    background-color: #fff!important;
    
   }

// Showcase

#showcase {
    position:relative;
    background: url(../img/pranita.png) no-repeat center center/cover;
    min-height:500px;
}

// About

#contact {
    background-color: $secondary;

}

.pranita {
    border-radius: 30%;    
}

.about {
    padding-top:30px;
}

.photo {
    margin: 0!important;
}
  

// Media Queries

@media(max-width:600px){
    nav {
        a.brand-logo {
            font-size: 1.1rem;
        }
       
    }  

    #showcase {
        min-height:200px;
    }

    .pranita {
        width:100%;
    }
           
}